.card{
    position: relative;
    width: 25%;
    margin: 20px 10px;
}

.card:hover{
    border-radius: 20px;
    transition: .5s;
    box-shadow: 9px -10px 33px 13px rgba(189, 121, 45, 0.33);
}


.cardImg img{
    width: 100%;
    border-radius: 20px;
}

.card p {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0;
    left: 10%;
    right: 10%;
}